Source: dbxml
Section: database
Priority: optional
Maintainer: Lars Buitinck <larsmans@gmail.com>
Build-Depends: autotools-dev, debhelper (>= 7.0.50~), libdb4.8++-dev, libxqilla-dev, libxerces-c-dev, zlib1g-dev
Standards-Version: 3.9.1
Homepage: http://www.oracle.com/us/products/database/berkeley-db/index-066571.html

Package: dbxml-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: libdbxml-2.5, db4.8-doc
Description: Oracle Berkeley DB XML [HTML documentation]
 Embedded native XML database library.
 .
 API (C, C++, C#, Java, Perl, Tcl) and tool documentation.

Package: dbxml-util
Architecture: any
Depends: libdbxml-2.5 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Suggests: db4.8-util
Description: Oracle Berkeley DB XML utilities
 Embedded native XML database library.
 .
 Various tools for manipulating Berkeley DB XML database files.

Package: libdbxml-2.5
Architecture: any
Section: libs
Priority: standard
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: dbxml-util, libdbxml-dev
Description: Oracle Berkeley DB XML libraries [runtime]
 Embedded native XML database library.
 .
 Runtime library for programs that use Berkeley DB XML databases.

Package: libdbxml-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: libdbxml-2.5 (= ${binary:Version}), libdb4.8-dev (>= 4.8.30-2), ${misc:Depends}, ${shlibs:Depends}
Suggests: dbxml-doc
Description: Oracle Berkeley DB XML libraries [development]
 Embedded native XML database library.
 .
 Headers and static libraries for the Berkeley DB XML library.
