Source: dbxml
Section: database
Priority: optional
Maintainer: Lars Buitinck <larsmans@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), tcl8.5-dev, default-jdk [!arm !hppa !hurd-i386 !m32r !avr32], libdb4.8++-dev, libdb4.8-java-dev, libxqilla-dev, libxerces-c-dev, junit4, zlib1g-dev
Standards-Version: 3.9.1
Homepage: http://www.oracle.com/technology/software/products/berkeley-db/db/index.html
#Vcs-Git: git://git.debian.org/collab-maint/dbxml.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dbxml.git;a=summary

Package: dbxml-doc
Architecture: all
Section: doc
Description: Oracle Berkeley DB XML [HTML documentation]
 Embedded native XML database library.
 .
 API (C, C++, C#, Java, Perl, Tcl) and tool documentation.

Package: dbxml-util
Architecture: any
Section: database
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Oracle Berkeley DB XML utilities
 Embedded native XML database library.
 .
 Various tools for manipulating Berkeley DB XML database files.

Package: libdbxml
Architecture: any
Section: libs
Priority: standard
Depends: ${shlibs:Depends}
Suggests: dbxml-util, libdbxml-dev
Description: Oracle Berkeley DB XML libraries [runtime]
 Embedded native XML database library.
 .
 Runtime libraries for programs that use Berkeley DB XML databases.

Package: libdbxml-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libdbxml (= ${binary:Version})
Description: Oracle Berkeley DB XML libraries [debug]
 Embedded native XML database library.
 .
 Libraries with debugging symbols enabled.

Package: libdbxml-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: libdbxml (= ${binary:Version}), libdb4.8-dev (>= 4.8.30-2)
Suggests: dbxml-doc, libdbxml-dbg
Description: Oracle Berkeley DB XML libraries [development]
 Embedded native XML database library.
 .
 Headers and static libraries for the Oracle Berkeley DB XML library.

Package: libdbxml-java
Architecture: any
Section: java
Priority: optional
Provides: libdb-java
Conflicts: libdb-java
Depends: ${shlibs:Depends}
Recommends: libdbxml-java-gcj
Description: Oracle Berkeley DB XML libraries for Java
 Embedded native XML database library.
 .
 Java interface.

Package: libdbxml-java-dev
Architecture: any
Section: libdevel
Priority: optional
Provides: libdbxml-java-dev
Conflicts: libdbxml-java-dev
Depends: ${shlibs:Depends}, libdbxml-java
Description: Oracle Berkeley DB XML libraries for Java [development]
 Embedded native XML database library.
 .
 Java interface, development files.

Package: libdbxml-java-gcj
Architecture: any
Section: java
Priority: optional
Depends: libdbxml-java (>= ${source:Version}), libgcj-common (>> 1:4.1.1-13), ${shlibs:Depends}
Description: Oracle Berkeley DB XML libraries for Java [native code]
 Embedded native XML database library.
 .
 Java interface, natively compiled code for use by gij.

Package: libdbxml-tcl
Architecture: any
Section: interpreters
Priority: extra
Depends: ${shlibs:Depends}
Description: Oracle Berkeley DB XML libraries for Tcl [module]
 Embedded native XML database library.
 .
 Tcl interface.

Package: libsleepycat-dbxml-perl
Architecture: any
Section: perl
Depends: ${shlibs:Depends}, libdbxml
Description: Oracle Berkeley DB XML Libraries for Perl [module]
 Embedded native XML database library.
 .
 Perl interface.
