#!/usr/bin/make -f
# -*- makefile -*-
# This file was originally written by Joey Hess and Craig Small.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

CONFIGURE_VARS = CC=gcc CFLAGS="$(CFLAGS)" CXX=g++ CXXFLAGS="$(CXXFLAGS)"
CONFIGURE_SWITCHES = --prefix=/usr \
                     --localstatedir=/var \
                     --sysconfdir=/etc \
                     --libexecdir=/usr/lib \
                     --disable-rpath \
                     --with-berkeleydb=/usr \
                     --with-xqilla=/usr \
                     --with-xerces=/usr \
                     --with-zlib=/usr

version=$(shell expr `pwd` : '.*-\([0-9.]*\)')

%:
	dh $@ --sourcedirectory=dbxml --with autotools-dev

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=dbxml -- $(CONFIGURE_SWITCHES)

binary-indep: build install

binary: binary-indep binary-arch
